a:visited,
a:link {
    color: black;
    text-decoration: none;
}
.fa {
    letter-spacing: .12ch;
}
/* navbar */
.nb {
    background-color: rgb(255, 185, 93);
    height: 60px;
    width: 100%;
    display: flex;
    border-bottom: solid 0.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: sticky;
    z-index: 2;
    top: 0;
}
.nbJud {
    /* background-color: royalblue; */
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    margin: auto 0;
}

.nbLink {
    /* background-color: royalblue; */
    height: fit-content;
    display: flex;
    margin: auto 0 auto auto;
    padding-right: 20px;
}

.nbUserLogin {
    /* background-color: royalblue; */
    margin: auto 0 auto auto;
    height: 5ch;
    padding-right: 20px;
    align-content: center;
}
.dropdown {
    /* background-color: aqua; */
    position: relative;
    width: fit-content;
    padding: 5% 0;
    right: 20%;
    transition: all 0.15s;
}
.dropbtn {
    /* background-color: #c33d3d; */
    padding: 1ch 0.5ch 0 1ch;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    position: relative;
    right: 0;
}
.ddContent {
    display: none;
    min-width: 9.5ch;
    position: absolute;
    right: 0;
    top: 100%;
    align-content: center;
    border-radius: 10%;
    background-color: rgba(255, 240, 226, 0.708);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.ddContent a {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    border-radius: 10%;
}
.ddContent a:hover {
    background-color: rgb(251, 248, 245);
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.7);
}
.dropdown:hover .ddContent {
    display: block;
}